{% extends '@ibexadesign/ne0heretic/layout.html.twig' %}

{% block page_content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="ibexa-btn ibexa-btn--trigger">Save Settings</button>
    {{ form_end(form) }}
{% endblock %}