<div class="bg-dark py-4 px-0">
    <div class="ibexa-sticky-container mx-3">
        <p><a class="btn btn-dark btn-block" href="{{ path('ne0heretic_firewall.dashboard') }}">Dashboard</a></p>
    </div>
</div>