<div class="bg-dark py-4 px-0 ibexa-main-menu">
    <div class="ibexa-sticky-container mx-3">
        <h3 class="text-white text-center">Firewall</h3>
        <p><a class="btn btn-dark btn-block" href="{{ path('ne0heretic_firewall.dashboard') }}">Dashboard</a></p>
        <p><a class="btn btn-dark btn-block" href="{{ path('ne0heretic_firewall.settings') }}">Settings</a></p>
    </div>
</div>